<!-- backgroud and the return buttom -->
<div class="gradientBackgroud">
    <div class="returnbutton">
        {{#with patient}}
        <a href="/patient/{{this._id}}/homepage">
            {{/with}}
            <b>
                <i class="fas fa-angle-left"></i>
            </b>
        </a>
    </div>
    <div class="logo">
        {{#with patient}}
        <a href="/patient/{{this._id}}/homepage">
            {{/with}}
            <b>
                Diabetes@Home
            </b>
        </a>
    </div>
      <div class="colorscheme">
            <!-- change customer light mode and dark mode -->
            <a href="">
                <i class="fa-solid fa-circle-half-stroke"></i>
            </a>
        </div>
    <!-- patient name -->
    <div class="nameRecordpage">
        <b>
            {{#with patient}}
            <span> {{this.first_name}}</span>
            
            <a>
                    <!-- <i class="fas fa-medal medalgrey"></i> -->
                {{#if (overEighty this.percentage)}}
                    <!-- <i class="fas fa-medal medalyellow"></i> -->
                    <i class="fas fa-medal medal medalyellow">
                        <div class="explain">
                            If your engagement rate is over 80%, it will become a golden medal.
                        </div>
                    </i>
                {{else}}
                    <i class="fas fa-medal medal medalgrey">
                        <div class="explain">
                            If your engagement rate is over 80%, it will become a golden medal.
                        </div>
                    </i>
                {{/if}}
            </a>
            {{/with}}
        </b>
    </div>
    <!-- four kinds of data record button -->
    {{#if (beFilled data.bgl)}}
        <a href="">
    {{else}}
        {{#with patient}}
        <a href="/patient/{{this._id}}/record/bgl">
        {{/with}}
    {{/if}}
        {{#with data}}
        <div {{#if (beFilled this.bgl)}}class="bloodglucoselevelRecordpageFilled"{{else}}class="bloodglucoselevelRecordpage"{{/if}}>
            <b>
                Blood Glucose Level
            </b>
        </div>
        {{/with}}
    </a>
    {{#if (beFilled data.weight)}}
        <a href="">
    {{else}}
        {{#with patient}}
        <a href="/patient/{{this._id}}/record/weight">
        {{/with}}
    {{/if}}
        {{#with data}}
        <div {{#if (beFilled this.weight)}}class="weightRecordpageFilled"{{else}}class="weightRecordpage"{{/if}}>
            <b>
                Weight
            </b>
        </div>
        {{/with}}
    </a>
    {{#if (beFilled data.dn)}}
        <a href="">
    {{else}}
        {{#with patient}}
        <a href="/patient/{{this._id}}/record/dn">
        {{/with}}
    {{/if}}
        {{#with data}}
        <div {{#if (beFilled this.dn)}}class="dosenumberRecordpageFilled"{{else}}class="dosenumberRecordpage"{{/if}}>
            <b>
                Dose Number
            </b>
        </div>
        {{/with}}
    </a>
    {{#if (beFilled data.exercise)}}
        <a href="">
    {{else}}
        {{#with patient}}
        <a href="/patient/{{this._id}}/record/exercise">
        {{/with}}
    {{/if}}
        {{#with data}}
        <div {{#if (beFilled this.exercise)}}class="exerciseRecordpageFilled"{{else}}class="exerciseRecordpage"{{/if}}>
            <b>
                Exercise
            </b>
        </div>
        {{/with}}
    </a>
</div>